@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&amp;display=swap);
@import url(https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

* {
   box-sizing: border-box;
   font-family: sans-serif;
   margin: 0;
}

.App {
   font-family: sans-serif;
   text-align: center;
}

.pokeball-background {
   background-image: url(./assets/img/pokeball.81cfacf9.png);
   position: fixed;
   -webkit-filter: brightness(200%);
   filter: brightness(200%);
   z-index: -1;
   right: -90px;
   top: -40px;
   background-size: cover;
   height: 300px;
   width: 300px;
   animation-direction: reverse;
}

.pokeball-background {
   animation: rotate 3s linear infinite;
   transform-origin: 50% 50%;
}

@keyframes rotate {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(1turn);
   }
}

body {
   background: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
}

h1,
h3 {
   font-family: "Pangolin", sans-serif;
   color: aliceblue;
}

p {
   padding: 1rem;
}

.container {
   padding: 15px;
   margin: 0 auto;
}

.beginning .banner {
   padding-top: 50px;
   display: flex;
   justify-content: center;
}
.beginning :nth-child(3) {
   margin: 0 auto;
   max-width: 350px;
   position: relative;
}
.beginning :nth-child(3) button {
   position: absolute;
   top: 50px;
   bottom: 0;
   right: 0;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   border: 0;
   cursor: pointer;
   outline: 0;
   background: #40ff2f;
   color: #fff;
}
.beginning button i {
   font-size: 1.3rem;
}
.beginning img {
   width: 120px;
}
p.title {
   font-size: 1.3rem;
   text-align: center;
   font-weight: 500;
   padding: 20px 0 10px;
   margin: 0;
}

p.title.pokedex {
   text-align: left;
   padding: 10px 0 40px 30px;
   font-size: 1.1rem;
}

select {
   width: 100%;
   max-width: 400px;
   height: 60px;
   border-radius: 30px;
   border: 0;
   outline: none;
   font-size: 19px;
   padding-left: 20px;
   color: grey;
   box-shadow: -10px -10px 15px rgba(58, 58, 58, 0.09019607843137255),
      10px 10px 15px rgba(66, 66, 66, 0.34901960784313724);
   transition: 0.5s;
   margin: 30px 0;
}

.beginning h2.title {
   display: inline-block;
   font-size: 2rem;
   text-align: right;
   padding-top: 20px;
   margin: 0;
}
.beginning input {
   width: 100%;
   border: none;
   border-radius: 30px;
   outline: none;
   font-size: 19px;
   color: grey;
   box-shadow: -10px -10px 15px rgba(58, 58, 58, 0.09019607843137255),
      10px 10px 15px rgba(66, 66, 66, 0.34901960784313724);
   transition: 0.5s;
   padding: 10px 55px 10px 15px;
   height: 50px;
}

.pagination {
   margin-top: 30px;
   margin-bottom: 40px;
}
.pagination button {
   border: 0;
   background: #6c79db;
   color: #fff;
   box-shadow: 2px 2px 8px grey;
   font-size: 1.1rem;
   font-weight: 700;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   margin: 3px;
   cursor: pointer;
   outline: 0;
   transition: 0.2s;
}
.pagination button:hover {
   background: #67c98e;
   transition: 0.2s;
}
button.selected {
   background: #67c98e;
}

.title {
   font-family: "Montserrat", sans-serif;
   font-weight: 800;
   font-size: 2, 9rem;
   padding-top: 50px;
   margin-left: 204px;
   text-align: left;
}

.info-location {
   font-family: Lacquer;
   font-size: 2rem;
}
.title-2 {
   text-align: start;
   font-size: 30px;
}
.App {
   text-align: center;
   padding: 70px;
   width: 100vw;
}

.loader {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* .btn {
   background-color: hsla(0, 0%, 100%, 0.4);
   border-radius: 5px;
   font-size: small;
} */
.information {
   display: flex;
   justify-content: space-around;
}

.container--card {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
}

.item {
   width: 100%;
   padding: 10px;
}

/* .card {
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.474);
   border-radius: 10px;
   padding: 10px;
   background-color: rgb(72, 208, 176);
   height: 100%;
   min-width: 260px;
   max-width: 260px;
   min-height: 260px;
   max-height: 260px;
   display: block;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   text-shadow: 0 0 1.4px #000;
   margin: 5px;
} */

.card {
   border-radius: 20px;
   padding: 10px;
   display: block;
   text-decoration: none;
   display: flex;
   text-align: left;
   height: 100%;
   text-shadow: 0 0 1.4px #000;
   background-color: rgb(72, 208, 176);
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.474);
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   height: 280px;
   flex-wrap: nowrap;
}

.card,
.card:hover {
   color: #fff;
   transition: 0.3s;
}
.card:hover {
   transform: scale(1.07);
}

.card img {
   width: 100%;
   height: 80px;
}

.card h3 {
   text-align: center;
   margin-bottom: 10px;
   font-size: 1.3rem;
}

.card ul {
   list-style: none;
   padding: 0;
}
.card .img {
   width: 50%;
   display: flex;
   align-items: flex-end;
   position: relative;
}

.description {
   font-size: 0.8rem;
   margin-bottom: 3.5px;
   color: hsla(0, 0%, 100%, 0.4);
}
.name {
   font-family: Lacquer;
   font-weight: 600;
   font-size: 1.25rem;
}

.cloud {
   background: hsla(0, 0%, 100%, 0.2);
   margin-bottom: 3px;
   padding: 4px 10px;
   border-radius: 13px;
   display: inline-block;
}

button.selected {
   background: #67c98e;
}

@media (min-width: 400px) {
   .card .text {
      font-size: 1rem;
   }
   .card h3 {
      font-size: 1.7rem;
   }
   .cloud {
      margin-bottom: 5px;
   }

   .pokeball {
      bottom: -10px;
      height: 40%;
      width: 150%;
   }
}

@media (min-width: 558px) {
   .item {
      width: 50%;
   }
}

@media (min-width: 576px) {
   .card .text {
      font-size: 0.9rem;
   }
   .card h3 {
      font-size: 1.3rem;
   }
   .card .img {
      width: 60%;
   }
   .cloud {
      margin-bottom: 3px;
   }
   .container {
      max-width: 579px;
   }
   /* .row {
      display: flex;
      flex-wrap: wrap;
   } */

   .cloud {
      margin-bottom: 3px;
   }
   /* 
   .col-sm-2 {
      width: 50%;
   } */
}

@media (min-width: 768px) {
   .item {
      width: 33.3333333%;
   }

   .pokeball-background {
      right: -90px;
      top: -50px;
      height: 400px;
      width: 400px;
   }

   .container {
      max-width: 768px;
   }
   .pokeball-background {
      right: -90px;
      top: -50px;
      height: 400px;
      width: 400px;
   }
}

@media (min-width: 992px) {
   .item {
      width: 25%;
   }

   .container {
      max-width: 992px;
   }
   /* .col-lg-3 {
      width: 25%;
   } */
   .pokeball-background {
      right: -100px;
      top: -60px;
      height: 500px;
      width: 500px;
   }
   /* .settings {
      height: 55px;
      width: 55px;
   }
   .settings i {
      font-size: 2rem;
   } */
}
